.bidding-component {
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    padding:10px;
    background: #E5E7EB;
    width: 100%;
    flex-wrap: wrap;
    gap: 8px;
}
.display-bid {
    
    display: flex;
    justify-content: space-between;
    color: rgb(3, 3, 3);
}
.display-bid span {
    color: rgb(0, 0, 0);
}

.bid-collector {
    display: flex;
    /* justify-content: space-between; */
}

.bid-collector input {
    border: solid 1px #f1f5f9;
    flex-grow: 1;
    background: #cbd5e1;
    border-radius: 6px;
    font-size: medium;
    outline: none;
    padding: 10px 16px;
    color: rgb(12, 12, 12);
}
.bid-collector input::placeholder {
    color: rgb(118, 116, 116);
}
.bid-collector button {
    border: solid 1px #9e77e0;
    font-size: medium;
    outline: none;
    margin-left: 10px;
    border-radius: 6px;
    padding: 10px 16px;
    background-color: #754cba;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease, border-color 0.3s ease;
}

.bid-collector button:hover {
    background-color: #9e77e0;
    border-color: #754cba;
}

.pagination {
    display: flex;
    flex-direction: row;
    background: #cbd5e1;
    border-radius: 16px;
    overflow: hidden;
    border: solid  1px #f1f5f9;
    color: rgb(107, 107, 107);
    align-items: center;
}
.pagination span {
    margin: 0 10px;
}

.pagination button {
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 5px;
    overflow: hidden;
    background: none;
    color: white;
    cursor: pointer;
}

.text-red-500{
    color: #ef4444;
    margin: 4px 0 0 0;
}

.bid-label {
    font-weight: 600;
    font-size: larger;
}

.bid-amount{
 font-weight: 500;
 font-size: large;
}